<div class="container">
    <div class="ma-1 text-center">
        <h2>Thanks!</h2>
        <p>We'll ship your goods as soon as possible</p>
        <button class="btn btn-primay" routerLink="/store">Return to Store</button>
    </div>
    <form class="ma-1" *ngIf="!orderSent" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)" >
        <div class="form-group row">
            <label class="col-form-label col-1 offset-3">姓名：</label>
            <div class="col-6">
                <input type="text" class="form-control" name="name" [(ngModel)]="order.name" #name="ngModel" required>
                <span class="text-danger" *ngIf="submitted && name.invalid">请输入姓名</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1 offset-3">地址：</label>
            <div class="col-6">
                <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="order.address" required>
                <span class="text-danger" *ngIf="submitted && address.invalid">请输入地址</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1 offset-3">城市：</label>
            <div class="col-6">
                <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="order.city" required>
                <span class="text-danger" *ngIf="submitted && city.invalid">请输入城市</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1 offset-3">州：</label>
            <div class="col-6">
                <input type="text" class="form-control" name="state" #state="ngModel" [(ngModel)]="order.state" required>
                <span class="text-danger" *ngIf="submitted && state.invalid">请输入州</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1 offset-3">县：</label>
            <div class="col-6">
                <input type="text" class="form-control" name="country" #country="ngModel" [(ngModel)] = "order.country" required />
                <span class="text-danger" *ngIf="submitted && country.invalid">请输入县</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1 offset-3">邮编：</label>
            <div class="col-6">
                <input type="text" class="form-control" name="zip" #zip="ngModel" [(ngModel)]="order.zip" required/>
                <span class="text-danger" *ngIf="submitted && zip.invalid">请输入邮编</span>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" routerLink="/cart">返回</button>
            <button class="btn btn-secondary" type="submit">完成</button>
        </div>
    </form>
</div>
